.chat-container {
  display: flex;
  height: 100vh;
}

.chat-sidebar {
  flex: 1;
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.user-profile, .user {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dcdcdc;
}

.user-profile img, .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}
