.chat-container {
  display: flex;
}

.chat-sidebar {
  width: 480px; /* or any appropriate width */
  border-right: 1px solid #ccc;
}

.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s;
}

.user:hover {
  background-color: #f5f5f5;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  object-fit: cover;
}

.user-details {
  overflow: hidden;
}

.user-details h5 {
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-details p {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}

.user-details small {
  display: block;
  font-size: 0.7em;
  color: #999;
}
