<div class="chat-container">
  <div class="chat-sidebar">
    <div class="user-list">
      <div *ngFor="let chat of chats" class="user" (click)="setActiveChat(chat)">
        <img [src]="chat.pic" alt="{{ chat.name }}" class="user-image">
        <div class="user-details">
          <h5>{{ chat.chatName || chat.name }}</h5>
          <p *ngIf="chat.lastMessage">{{ chat.lastMessage }}</p>
          <small *ngIf="chat.lastMessageDate">{{ chat.lastMessageDate | date: 'short' }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
