<!-- message.component.html -->
<div  class="container" *ngIf="chat">
  <div class="chat-window mat-elevation-z5">
    <div class="chat-header">
      <img class="chat-avatar" [src]="chat.chatPic || 'assets/images/image-placeholder.png'" />
      <span class="chat-name">{{ chat.chatName | uppercase }}</span>
    </div>

    <div #chatContainer class="chat-body">
      <ng-container *ngFor="let message of messages">
        <div class="message" [ngClass]="{'sent': isSentByCurrentUser(message), 'received': !isSentByCurrentUser(message)}">
          <div class="message-content">
            <p class="message-text">{{ message.message }}</p>
            <p class="message-date">{{ message.dateTime | date: 'short' }}</p>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="chat-footer">
      <mat-form-field class="full-width">
        <input matInput placeholder="Escribe un mensaje" [formControl]="messageControl" />
      </mat-form-field>
      <button mat-icon-button (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
