
/* Main layout styles */
.app-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  width: 300px; /* Sidebar width */
  background: #ececec; /* Sidebar background color */
  overflow-y: auto; /* Scroll for overflowing content */
}

.content-display {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  background: #f6f6f6; /* Main content background color */
}

/* Chat window styles */
.chat-window {
  flex-grow: 1; /* Allow chat window to fill available content space */
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Chat window background color */
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1); /* Shadow to separate from sidebar */
}

/* Header styles */
.chat-header {
  padding: 16px;
  background-color: #f9f9f9; /* Header background color */
  border-bottom: 1px solid #eaeaea; /* Header bottom border */
  display: flex;
  align-items: center;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.chat-name {
  font-weight: bold;
  color: #333; /* Name color */
}

/* Chat body styles */
.chat-body {
  padding: 16px;
  flex-grow: 1; /* Let chat body take up remaining space */
  overflow-y: auto; /* Scrollable chat content */
}

/* Message bubble styles */
.message {
  display: flex;
  margin-bottom: 10px; /* Spacing between messages */
}

.message.sent {
  justify-content: flex-end; /* Align sent messages to the right */
}

.message.received {
  justify-content: flex-start; /* Align received messages to the left */
}

.message-content {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 18px;
  margin: 4px;
  font-size: 14px; /* Message text font size */
  color: #444; /* Message text color */
  background-color: #e0e0e0; /* Message background color */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.message.sent .message-content {
  background-color: #007bff;
  color: white;
}

.message.received .message-content {
  background-color: #f1f1f1;
}

/* Footer styles */
.chat-footer {
  padding: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #eaeaea;
  display: flex;
}

.full-width {
  flex: 1;
}

.mat-form-field {
  width: 100%;
}

button.mat-icon-button {
  margin-left: 8px;
}

/* Scrollbar customization */
.chat-body::-webkit-scrollbar {
  width: 6px;
}

.chat-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
