<!-- menu-lateral.component.html -->
<div class="perfil">
  <img src="{{myProfilePicture}}" alt="." style="cursor: pointer;" (click)="emitViewChange('profile')">
  <h2 style="cursor: pointer;" (click)="emitViewChange('profile')">{{firstName}} {{lastName}}</h2>
  <mat-icon (click)="emitViewChange('home')">home</mat-icon>
  <mat-icon (click)="emitViewChange('ocupation')">Ocupation</mat-icon>
</div>

<div class="menu">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-secondary menu-item"
            [ngClass]="{'active': view === 'Match'}"
            (click)="view = 'Match'">Match</button>
    <button type="button" class="btn btn-outline-secondary menu-item"
            [ngClass]="{'active': view === 'Chat'}"
            (click)="view = 'Chat'">Chat</button>
  </div>
  <div *ngIf="view === 'Match'" class="content">
    <app-match></app-match>
  </div>

  <div *ngIf="view === 'Chat'" class="content">
    <app-chat (chatSelected)="chatSelected.emit($event)"></app-chat>
  </div>
</div>
