.app-container {
  display: flex; /* Define la estructura como flexible */
}

.sidebar {
  flex: 0.5; /* Ocupará la mitad del espacio disponible */
  max-width: 60%; /* Limita al 50% del ancho total */
  min-width: 350px; /* Ancho mínimo, ajusta según tus necesidades */
  overflow-y: auto; /* Barra de desplazamiento vertical en caso de contenido largo */
}

.profile-display {
  flex: 1; /* Ocupará el espacio restante después de sidebar */
  overflow-y: auto; /* Barra de desplazamiento vertical en caso de contenido largo */
}
